<tr>

<td>
<h3 class="post-title" itemprop="name">
<a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
</h3>
<p>
<strong> {{ post.date | date: "%Y-%m-%d" }} :</strong>
{{ post.excerpt | strip_html}} 
</p>
</td>

<td style="width: 150px; text-align: center; vertical-align: middle;">
<a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="post-teaser">{% if post.image.teaser %}<img src="{{ site.url }}/images/{{ post.image.teaser }}" alt="teaser" itemprop="image">{% endif %}</a>
</td>

</tr>

