---
layout: default
---
<style>
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
<div id="main" role="main">			
	<div class="wrap">
		<div class="page-title">
                        <a href="{{page.url}}">
				<h1>{{ page.title }}</h1>
			</a>
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				{{ content }}
				<p>
				<a style="font-size: 12.16px; line-height: 15.808px;" href="{{site.url}}/research">Back to Research Page</a>
				</p>
			</div><!-- /.page-content -->
		</div class="archive-wrap"><!-- /.archive-wrap -->
	</div><!-- /.wrap -->
</div><!-- /#main -->

